<script>
<![CDATA[
    function firstThree(btn) {
        var digits = btn.charAt(0);
        for (var i = 1; i < 3; i++) {
            digits += btn.charAt(i);
        }
        return digits;
    }
    function secondThree(btn) {
        var digits = btn.charAt(3);
        for (var i = 4; i < 6; i++) {
            digits += btn.charAt(i);
        }
        return digits;
    }
    function lastFour(btn) {
        var digits = btn.charAt(6);
        for (var i = 7; i < 10; i++) {
            digits += btn.charAt(i);
        }
        return digits;
    }
]]>
</script>
<var name="btn" />
<var name="event"/>
<var name="price"/>
<form id="topmenu">
	<field name="top">
		<prompt>
			Please select one of the option from the main menu. <break/> To list events press 1, to register for an event press 2, to repeat these options again press 3.
		</prompt>
        <option dtmf="1" value="List"/>
        <option dtmf="2" value="Register" />
        <option dtmf="3" value="RepeatMenu" />
        <filled>
        	<if cond="top == 'List'">
        		<goto next="#mainmenu"/>
        	<elseif cond="top == 'Register'"/>
        		<goto next="#register"/>
        	<elseif cond="top == 'RepeatMenu'"/>
        		<clear/>
        	</if>
        </filled>
	</field>
</form>
<form id="mainmenu">
	<block>
		<prompt>
			Welcome to Event Reservation System. <break/>
			Currently there are <%= @events.size %> events.
		</prompt>
		<% @events.each do |event| %>
		<prompt>
			Event: <%= event.name %> in <%= event.location %> and the price for event is <%= number_to_currency(event.price) %>. <break/>
		</prompt>
		<% end %>
		<goto next="#topmenu"/>
	</block>
</form>
<form id="register">          
    <field name="btnField">
        <property name="inputmodes" value="dtmf" />
			<grammar root="PHONEDIGITS" mode="dtmf">
				<rule id="PHONEDIGITS" scope="public">		
					<tag> $ = ""; </tag>
					<item repeat="10">
						<ruleref uri="#DIGIT"/>
						<tag> $ = $ + $$; </tag>
					</item>		
				</rule>
				
				<rule id="DIGIT">
				  <one-of>
					  <item> 0 <tag> $ = "0"; </tag> </item>
					  <item> 1 <tag> $ = "1"; </tag> </item>
					  <item> 2 <tag> $ = "2"; </tag> </item>
					  <item> 3 <tag> $ = "3"; </tag> </item>
					  <item> 4 <tag> $ = "4"; </tag> </item>
					  <item> 5 <tag> $ = "5"; </tag> </item>
					  <item> 6 <tag> $ = "6"; </tag> </item>
					  <item> 7 <tag> $ = "7"; </tag> </item>
					  <item> 8 <tag> $ = "8"; </tag> </item>
					  <item> 9 <tag> $ = "9"; </tag> </item>		  		 
				  </one-of>
			  </rule>
			</grammar>    
        <prompt>
            Before proceeding to registration we need some information from you. Starting with the area code, please enter or say the 10 digit phone number for your account. 
            <!--<audio src="@VoiceFiles.GetVoiceFilePath(Model, VoiceFiles.CustomerAccount._18000_EnterPhoneNumber)" />    -->         
        </prompt>                 
        <filled>
            <assign name="btn" expr="btnField"/>
            <goto next="#ConfirmBTN" />
        </filled>
    </field>
</form>
<form id="ConfirmBTN">        
    <field name="confirmField">
		<grammar root="YESNOVOICE" xml:lang="en-US" version="1.0" xmlns="http://www.w3.org/2001/06/grammar" mode="voice" xmlns:sapi="http://schemas.microsoft.com/Speech/2002/06/SRGSExtensions" tag-format="semantics-ms/1.0">	
			<rule id="YESNOVOICE" scope="public">
				<one-of>
					<item>
						<ruleref uri="#YES"/>
						<tag> $ = "Yes" </tag>
					</item>
					<item>
						<ruleref uri="#NO"/>
						<tag> $ = "No" </tag>
					</item>
				</one-of>
			</rule>			
			<rule id="YES">
				<one-of>
					<item> yes </item>
					<item> yea  </item>
					<item> uh huh </item>
					<item> yup </item>
					<item> yep </item>
					<item> sure </item>
					<item> O. K. </item>
					<item> oh kay </item>
					<item> yeppers </item>
				</one-of>
			</rule>
			
			<rule id="NO">
				<one-of>
					<item> no </item>
					<item> nope </item>
					<item> nuh uh </item>
					<item> nagh </item>
					<item> na </item>
					<item> no thanks </item>
					<item> no way </item>
					<item> not </item>
				</one-of>
			</rule>
		</grammar>          
        <prompt>        
             I heard:    
            <!--<audio src="@VoiceFiles.GetVoiceFilePath(Model, VoiceFiles.CustomerAccount._18050_ConfirmBTN_1)" /> -->                        
                <say-as interpret-as="digits">                       
                    <value expr="firstThree(btn)"/>
                </say-as>       
            <break />                    
                <say-as interpret-as="digits">                       
                    <value expr="secondThree(btn)"/>
                </say-as>      
            <break />                     
                <say-as interpret-as="digits">                       
                    <value expr="lastFour(btn)"/>
                </say-as>        
            <break />                        
             If that is the correct, say Yes or press 1. If not say No or press 2.        
            <!--<audio src="@VoiceFiles.GetVoiceFilePath(Model, VoiceFiles.CustomerAccount._18050_ConfirmBTN_2)" />-->                 
        </prompt>       
        <option dtmf="1" value="Yes"/>
        <option dtmf="2" value="No"/>                    
        <filled>
            <if cond="confirmField == 'No'">                                                                         
                <goto next="#GetBTN" />                               
            <else />
               <submit next="#registerEvent" namelist="btn"/>      
            </if>
        </filled>  
    </field>           
</form>
<menu id="registerEvent">
		<prompt>
			Please enter the event ID to register for that event:
		</prompt>
		<% @events.each do |event| %>
		<prompt>
			Press  <%= event.id %> for  <%= event.name %> in <%= event.location %> <break/>
		</prompt>
		<choice dtmf="<%= event.id %>" next="/events/<%= event.id %>"/>
		<% end %>
		<noinput>
			<reprompt/>
		</noinput>
		<nomatch>
			<reprompt/>
		</nomatch>
</menu>